<h2>Detailed View</h2>

<p>Time of purchase: <%= @transaction.time_stmp.slice(0..15) %></p>
<p>Merchant: <%= @transaction.merchant.name %></p>
<p>Tag: <%= @transaction.tag.type %></p>
<p>£<%= @transaction.amount %></p>

<button type="button" name="button">
  <a href="/tracker/<%= @transaction.id %>/edit">Edit</a>
</button>
<form action="/tracker/<%= @transaction.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
